span {
    /* display: flex;
    justify-content: center; */
    color: red;
    font-size: 11px;
    margin-left: 5px;
}

.modal {
    font-size: 17px;
    letter-spacing: 1px;
}

/* .container {
    width: 60% !important;
} */
